<!DOCTYPE html>
<head>
  <link href="styles/back.css" rel="stylesheet">




  <!--
  <script type="text/javascript" src="scripts/views.js"></script>
  
  <script type="text/javascript" src="scripts/models.js"></script>
  <script type="text/javascript" src="scripts/controls.js"></script>

  <script type="text/javascript" src="scripts/prob.js"></script>

  <script type="text/javascript" src="scripts/main.js"></script>-->
</head>

<body>
  <div class="header"></div>

  <div class="vis"></div>

  <div class="menu">
    <table class="tab-holder">
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>

    <div class="menu-holder">
      <div id="map-menu-holder"></div>
      <div id="inv-menu-holder"></div>
      <div id="craft-menu-holder"></div>
      <div id="lvlup-menu-holder"></div>
      <div id="settings-menu-holder"></div>
    </div>
  </div>




  <script type="text/template" id="menu-tab-template">
    <td class="tab" id="<%- name %>"><%- name %></td>
  </script>

  <!--  <script type="text/template" id="main-template">
        <div class="header"></div>

        <div class="vis"></div>

        <div class="menu"></div>
  </script>-->


  <!-- Libs -->
  <script type="text/javascript" src="scripts/sugar.js"></script>
  <script type="text/javascript" src="scripts/jquery.min.js"></script>
  <script type="text/javascript" src="scripts/namespace-plus.js"></script>
  <script type="text/javascript" src="scripts/sprintf.min.js"></script>
  <script type="text/javascript" src="scripts/underscore.js"></script>
  <script type="text/javascript" src="scripts/backbone.js"></script>
  <script type="text/javascript" src="scripts/backbone.localStorage.js"></script>

  <!-- Our files -->
  <script type="text/javascript" src="scripts/log.js"></script>
  <script type="text/javascript" src="scripts/itemref.js"></script>

  <script type="text/javascript" src="scripts/menu.js"></script>
  <script type="text/javascript" src="scripts/inventory.js"></script>
  <script type="text/javascript" src="scripts/back.js"></script>

  <!-- Entry point -->
  <script>
    $(namespace.bot.main.onReady());
  </script>

</body>
