<!DOCTYPE html>
<head>
  <link href="styles/main.css" rel="stylesheet">
</head>

<body>
  <div class="header"></div>

  <div class="vis"></div>

  <div class="menu">
    <ul class="tab-holder">
      <li class="tab" id="map">Map</li>
      <li class="tab" id="inv">Inv</li>
      <li class="tab" id="craft">Craft</li>
      <li class="tab" id="lvlup">Lvlup</li>
      <li class="tab" id="settings">Settings</li>
    </ul>
    <div class="menu-holder">
      <div class="sub-menu closed" id="map-menu-holder">map</div>
      <div class="sub-menu closed" id="inv-menu-holder">inv</div>
      <div class="sub-menu closed" id="craft-menu-holder">craft</div>
      <div class="sub-menu closed" id="lvlup-menu-holder">lvlup</div>
      <div class="sub-menu closed" id="settings-menu-holder">settings</div>
    </div>
  </div>

  <script id="map-tab-template" type="text/template">
    <div class="mapcontent">
      Mappy<br><br>
      <img src="http://images.fanpop.com/images/image_uploads/Super-Mario-World-super-mario-world-112617_580_435.jpg" style="width:300px; height:300px;" />
      <input id="mapgo" type="button" value="Go" />
    </div>
  </script>

  <script id="inv-menu-item-template" type="text/template">
    <div class="item-header">
      <%= name %> - level <%= level %>
    </div>
    <div class="item-body">
      <div class="item-mid">
        <img src="assets/<%= name %>.svg" height="90" width="90">
        <div class="item-mid-text">
          Type: <%= itemType %><br/><%= midExtra %> 
        </div>
      </div>
      <div class="item-affixes">
      </div>
      <div class="item-buttonbox">
        <%= buttons %>
      </div>
    </div>
  </script>

  <script id="inv-menu-item-xp" type="text/template">
    <span class="xp">0</span> / <span class="nextLevelXp">?</span> XP
  </script>

  <script id="inv-menu-item-buttons-template" type="text/template">
    <input class="item-button level-up" value="Level Up" type="button" disabled/>
    <input class="item-button equip" value="Equip" type="button" />
  </script>

  <script id="craft-menu-item-buttons-template" type="text/template">
    <input class="item-button craft" value="Craft" type="button" disabled />
    <input class="item-button scrap" value="Scrap" type="button" />
  </script>
  
  
  <script id="inv-menu-template" type="text/template">
    <div class="inv-content">
      <% _.each(groups, function(group) { %>
      <div class="item-group <%= group %>">
        <div class="item-group-header">
          <% print(group[0].toUpperCase() + group.slice(1)) %>
        </div>
        <div class="item-group-content">
        </div>
      </div>
      <% }); %>
    </div>
  </script>

  <script id="craft-menu-template" type="text/template">
    <div class="craft-content">
      <% _.each(groups, function(group) { %>
      <div class="item-group <%= group %>">
        <div class="item-group-header">
          <% print(group[0].toUpperCase() + group.slice(1)) %>
        </div>
        <div class="item-group-content">
        </div>
      </div>
      <% }); %>
    </div>
  </script>

  <script id="lvlup-tab-template" type="text/template">
    <div class="lvlupcontent">
      <div class="lvlupitemholder">
        <div class="lvlupitemimg">
          <img src="http://img1.wikia.nocookie.net/__cb20080817200550/diablo/images/4/4f/D2-u-Treadsofcthon.gif" />
        </div>
        <div class="lvlupitemstats">
          Magic Shoes <br>
          + 5 Fire Damage<br>
          + 10 Armor<br>
        </div>
      </div>
      <div class="lvluprollbox">
        Affix on next level: <br><br>
        + 3 Fire Damage
      </div>
      <input type="button" value="Reroll" />
      <input type="button" value="Level Up" />
    </div>
  </script>

  <script id="settings-tab-template" type="text/template">
    <div class="settingscontent">
      <input type="button" value="Save" />
      <input type="button" value="Mute" />
    </div>
  </script>

  <script id="header-stats-template" type="text/template">
    <table>
      <tr>
        <td>Name</td>
        <td id="name"><%= name %></td>
      </tr>
      <tr>
        <td>Level</td>
        <td id="level"><%= level %></td>
      </tr>
      <tr>
        <td>Hp</td>
        <td id="hp"><%= hp %> / <%= maxHp %></td>
      </tr>
      <tr>
        <td>Mana</td>
        <td id="mana"><%= mana %> / <%= maxMana %></td>
      </tr>
      <tr>
        <td>Xp</td>
        <td id="xp"><%= xp %> / <%= nextLevelXp %></td>
      </tr>
    </table>
  </script>

  <script id="header-zone-stats-template" type="text/template">
    <table>
      <tr>
        <td>Zone</td>
        <td id="name"><%= name %></td>
      </tr>
      <tr>
        <td>Level</td>
        <td id="level"><%= level %></td>
      </tr>
      <tr>
        <td>Room</td>
        <td id="room"><%= charPos + 1 %> / <%= roomCount %></td>
      </tr>
      <tr>
        <td>Monsters</td>
        <td id="monsters"><%= livingCount %> / <%= totalCount %></td>
      </tr>
    </table>
  </script>

  <script id="header-equipped-template" type="text/template">
    <% _.each(items, function(item, slot) { %>
    <div class="<%= slot %>">
      <img class="slot-background" src="assets/<%= 'empty-' + slot %>.svg" width="60" height="60" />
      <% if (item) { %>
      <img class="slot-img" src="assets/<%= item.get('name') %>.svg" width="60" height="60" />
      <% } else { %>
      <img class="empty slot-img" width="60" height="60" />
      <% } %>
    </div>
    <% }); %>
  </script>

  <script id="header-skillchain-template" type="text/template">
    <% _.each([0, 1, 2, 3, 4, 5], function(i) { %>
    <div class="skill-slot <%= i %>"></div>
    <% }); %>
  </script>

  <script id="header-skill-template" type="text/template">
    <div class="veil"></div>
    <div class="img-holder">
      <img src="assets/<%= name %>.svg" />
    </div>
  </script>

  <script type="text/template" id="menu-tab-template">
    <td class="tab" id="<%- name %>"><%- name %></td>
  </script>

  <!-- Libs -->
  <script type="text/javascript" src="scripts/sugar.js"></script>
  <script type="text/javascript" src="scripts/raf-shim.js"></script>
  <script type="text/javascript" src="scripts/jquery.min.js"></script>
  <script type="text/javascript" src="scripts/namespace-plus.js"></script>
  <script type="text/javascript" src="scripts/sprintf.min.js"></script>
  <script type="text/javascript" src="scripts/underscore.js"></script>
  <script type="text/javascript" src="scripts/backbone.js"></script>
  <script type="text/javascript" src="scripts/backbone.localStorage.js"></script>

  <!-- Our files -->
  <script type="text/javascript" src="scripts/log.js"></script>
  <script type="text/javascript" src="scripts/prob.js"></script>
  <script type="text/javascript" src="scripts/itemref.js"></script>
  <script type="text/javascript" src="scripts/events.js"></script>

  <script type="text/javascript" src="scripts/utils.js"></script>

  <script type="text/javascript" src="scripts/window.js"></script>

  <script type="text/javascript" src="scripts/inventory.js"></script>
  <script type="text/javascript" src="scripts/entity.js"></script>
  <script type="text/javascript" src="scripts/zone.js"></script>
  <script type="text/javascript" src="scripts/menu.js"></script>
  <script type="text/javascript" src="scripts/views.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>

  <!-- Entry point -->
  <script>
    $(namespace.bot.main.onReady());
  </script>

</body>
