<!DOCTYPE html>
<head>
  <link href="styles/main.css" rel="stylesheet">
</head>

<body>
  <!--
  <div class="header"></div>

  <div class="vis"></div>

  <div class="menu">
    <ul class="tab-holder">
      <li class="tab" id="map">Map</li>
      <li class="tab" id="inv">Inv</li>
      <li class="tab" id="craft">Craft</li>
      <li class="tab" id="lvlup">Lvlup</li>
      <li class="tab" id="settings">Settings</li>
    </ul>
    <div class="menu-holder">
      <div class="sub-menu closed" id="map-menu-holder">map</div>
      <div class="sub-menu closed" id="inv-menu-holder">inv</div>
      <div class="sub-menu closed" id="craft-menu-holder">craft</div>
      <div class="sub-menu closed" id="lvlup-menu-holder">lvlup</div>
      <div class="sub-menu closed" id="settings-menu-holder">settings</div>
    </div>
  </div>

  <div class="messages"></div>
  -->

  <script id="item-slot-template" type="text/template">
    <% if (slot) { %>
      <div style="text-align: right"><%= slot %></div>
    <% } %>
    <% if (model) { %>
      <div><%= model.name %><% if (model.classLevel !== undefined) { %> (<%= model.classLevel %>)<% } %></div>
      <div>Level <%= model.level %></div>
    <% } else { %>
      <div>Empty</div>
    <% } %>
  </script>



  <script id="equipped-item-slot-template" type="text/template">
    <div style="text-align: right"><%= slot %></div>
    <% if (model) { %>
      <div><%= model.name %><% if (model.classLevel !== undefined) { %> (<%= model.classLevel %>)<% } %></div>
      <div>Level <%= model.level %></div>
    <% } else { %>
      <div>Empty</div>
    <% } %>
  </script>

  <script id="skillchain-item-slot-template" type="text/template">
    <div style="text-align: right"><%= slot %></div>
    <% if (model) { %>
      <div><%= model.name %><% if (model.classLevel !== undefined) { %> (<%= model.classLevel %>)<% } %></div>
      <div>Level <%= model.level %></div>
    <% } else { %>
      <div>Empty</div>
    <% } %>

  </script>

  <script id="inventory-item-slot-template" type="text/template">
    <div style="text-align: right"><%= slot %></div>
    <% if (model) { %>
      <div><%= model.name %><% if (model.classLevel !== undefined) { %> (<%= model.classLevel %>)<% } %></div>
      <div>Level <%= model.level %></div>
    <% } else { %>
      <div>Empty</div>
    <% } %>
  </script>

  <script id="item-tab-template" type="text/template">
    <div class="container equipped">
      <div class="header">Equipped Gear</div>
    </div>

    <div class="container skillchain">
      <div class="header">Equipped Skills</div>
    </div>

    <div class="container inventory">
      <div class="header">Inventory</div>
    </div>
  </script>

  <script id="card-tab-template" type="text/template">
    <div class="container equipped">
      <div class="header">Equipped Gear</div>
    </div>

    <div class="container skillchain">
      <div class="header">Equipped Skills</div>
    </div>

    <div class="container equipped-cards">
      <div class="header">Equipped Cards</div>
    </div>

    <div class="container card-inventory">
      <div class="header">Inventory</div>
    </div>
  </script>

  <script id="card-slot-template" type="text/template">
    <% if (model) { %>
      <div><%= model.name %></div>
      <div>Level <%= level %></div>
      <div><%= model.amts[level] - 1 %> / 10</div>
      <div><%= model.slot %></div>
    <% } %>
  </script>

  <script id="info-box-template" type="text/template">
    <% if (model) { %>
      <% if (model.itemType && model.itemType !== 'ctm') { %>
        <div class="titlebox"><h3><%= namespace.bot.utils.firstCap(model.name) %></h3></div>
        <div class="infoitem"><%= namespace.bot.utils.firstCap(model.itemType) %></div>
        <div class="infoitem">Level <%= model.level %></div>
        <div class="infoitem">XP <%= model.xp %> / <% print(model.getNextLevelXp()); %></div>
        <div class="mods">
        <% _.each(namespace.bot.utils.prettifyMods(model.baseMods, model.level), function(modstr) { %>
          <div class="mod"><%= modstr %></div>
        <% }); %>
        </div>
      <% } else { %>
        <div class="titlebox"><h3><%= namespace.bot.utils.firstCap(model.name) %></h3></div>
        <div class="infoitem">Card</div>
        <div class="infoitem">Level <%= level %></div>    
        <div class="mods">
        <% _.each(namespace.bot.utils.prettifyMods(model.mods, level), function(modstr) {%>
          <div class="mod"><%= modstr %></div>
         <% }); %>
        </div>
      <% } %>
      <% if (model.flavor) { %>
      <div class="infoitem flavor"><%= model.flavor %></div>
      <% } %>
    <% } %>
  </script>

  <script id="card-inventory-info-box-template" type="text/template">
    <h3><%= model.name %></h3>
    <div class="mods">
      <div>Level <%= model.level %></div>
      <% _.each(model.mods, function(mod) { %>
        <div><%= mod.def %></div>
      <% }); %>
    </div>
  </script>

  <script id="kv-table-template" type="text/template">
    <% _.each(data, function(value, key) { %>
        <tr><th><%= key %></th></tr>
        <% _.each(value, function(val) { %>
            <tr><td><%= val[0] %></td><td><%= val[1] %></td></tr>
        <% }); %>
    <% }); %>
  </script>

  <script id="hero-footer-template" type="text/template">
    <table>
      <tbody>
        <tr><td>Health</td>  <td class="hp"><% print(Math.ceil(hp)) %></td>      <td>/</td> <td><%= spec.maxHp %></td></tr>
        <tr><td>Mana</td>    <td class="mana"><% print(Math.ceil(mana)) %></td>  <td>/</td> <td><%= spec.maxMana %></td></tr>
        <tr><td>Level</td>    <td class="level"><%= spec.level %></td></tr>
        <tr><td>Xp</td>    <td class="xp"><% print(Math.floor(spec.xp)) %></td>  <td>/</td> <td><% print(spec.getNextLevelXp()) %></td></tr>
      </tbody>
    </table>
  </script>

  <script id="zone-footer-template" type="text/template">
    <table>
      <tbody>
        <tr>
          <td>Zone</td><td><%= name %></td>
        </tr>
        <tr>
          <td>Level</td><td><%= level %></td>
        </tr>
        <tr>
          <td>Room</td><td><% print(heroPos + 1) %> / <% print(rooms.length) %></td>
        </tr>
        <tr>
          <td>Monsters</td><td><% print(liveMons().length) %> / <% print(ensureRoom().monsters.length) %></td>
        </tr>

      </tbody>
    </table>
  </script>

  <script id="skillchain-footer-template" type="text/template">
    <% _.each(data, function(skill) { %>
    <div class="skill">
      <div class="box">
        <img src="assets/<%= skill.name %>.svg" />
        <div class="cooldown"></div>
      </div>
      <div class="use-holder"><div class="use-bar"></div></div>
    </div>
    <% }); %>
  </script>

  <script id="buttons-footer-template" type="text/template">
    <div class="stats-button noselect">Stats</div>
    <div class="inv-button noselect">Inv</div>
    <div class="map-button noselect">Map</div>
    <div class="cards-button noselect">Cards</div>
  </script>

  <script id="zone-map-tab-template" type="text/template">
    <img />
    Zone Name: <%= name %>,
    Level: <%= level %>
    <br/>
    Rooms: <%= roomCount %>,
    Boss: <%= boss %>,
  </script>

  <script id="inv-menu-item-template" type="text/template">
    <div class="item-header">
      <%= name %> - level <span class="level"></span>
    </div>
    <div class="item-body">
      <div class="item-mid">
        <img src="assets/<%= name %>.svg" height="90" width="90">
        <div class="item-mid-text">
          Type: <%= itemType %><br/><%= midExtra %> 
        </div>
      </div>
      <div class="item-affixes">
      </div>
      <div class="item-buttonbox">
        <%= buttons %>
      </div>
    </div>
  </script>

  <script id="inv-menu-item-xp" type="text/template">
    <span class="xp">0</span> / <span class="nextLevelXp">?</span> XP
  </script>

  <script id="inv-menu-item-buttons-template" type="text/template">
    <input class="item-button level-up" value="Level Up" type="button" disabled/>
    <input class="item-button equip" value="Equip" type="button" />
  </script>

  <script id="craft-menu-item-buttons-template" type="text/template">
    <input class="item-button craft" value="Craft" type="button" disabled />
    <input class="item-button scrap" value="Scrap" type="button" />
  </script>

  <script id="inv-menu-template" type="text/template">
    <div class="inv-content">
      <% _.each(groups, function(group) { %>
      <div class="item-group <%= group %>">
        <div class="item-group-header">
          <% print(group[0].toUpperCase() + group.slice(1)) %>
        </div>
        <div class="item-group-content">
        </div>
      </div>
      <% }); %>
    </div>
  </script>

  <script id="craft-menu-template" type="text/template">
    <div class="craft-content">
      <% _.each(groups, function(group) { %>
      <div class="item-group <%= group %>">
        <div class="item-group-header">
          <% print(group[0].toUpperCase() + group.slice(1)) %>
        </div>
        <div class="item-group-content">
        </div>
      </div>
      <% }); %>
    </div>
  </script>

  <script id="lvlup-tab-template" type="text/template">
    <div class="lvlupcontent">
      <div class="lvlupitemholder">
        <div class="lvlupitemimg">
          <img src="http://img1.wikia.nocookie.net/__cb20080817200550/diablo/images/4/4f/D2-u-Treadsofcthon.gif" />
        </div>
        <div class="lvlupitemstats">
          Magic Shoes <br>
          + 5 Fire Damage<br>
          + 10 Armor<br>
        </div>
      </div>
      <div class="lvluprollbox">
        Affix on next level: <br><br>
        + 3 Fire Damage
      </div>
      <input type="button" value="Reroll" />
      <input type="button" value="Level Up" />
    </div>
  </script>

  <script id="settings-tab-template" type="text/template">
    <div class="settingscontent">
      <input type="button" value="Save" />
      <input type="button" value="Mute" />
    </div>
  </script>

  <script id="header-stats-template" type="text/template">
    <table>
      <tr>
        <td>Name</td>
        <td id="name"><%= name %></td>
      </tr>
      <tr>
        <td>Level</td>
        <td id="level"><%= level %></td>
      </tr>
      <tr>
        <td>Hp</td>
        <td id="hp"><%= hp %> / <%= maxHp %></td>
      </tr>
      <tr>
        <td>Mana</td>
        <td id="mana"><%= mana %> / <%= maxMana %></td>
      </tr>
      <tr>
        <td>Xp</td>
        <td id="xp"><%= xp %> / <%= nextLevelXp %></td>
      </tr>
    </table>
  </script>

  <script id="header-zone-stats-template" type="text/template">
    <table>
      <tr>
        <td>Zone</td>
        <td id="name"><%= name %></td>
      </tr>
      <tr>
        <td>Level</td>
        <td id="level"><%= level %></td>
      </tr>
      <tr>
        <td>Room</td>
        <td id="room"><%= heroPos + 1 %> / <%= roomCount %></td>
      </tr>
      <tr>
        <td>Monsters</td>
        <td id="monsters"><%= livingCount %> / <%= totalCount %></td>
      </tr>
    </table>
  </script>

  <script id="header-equipped-template" type="text/template">
    <% _.each(items, function(item, slot) { %>
    <div class="<%= slot %>">
      <img class="slot-background" src="assets/<%= 'empty-' + slot %>.svg" width="60" height="60" />
      <% if (item) { %>
      <img class="slot-img" src="assets/<%= item.get('name') %>.svg" width="60" height="60" />
      <% } else { %>
      <img class="empty slot-img" width="60" height="60" />
      <% } %>
    </div>
    <% }); %>
  </script>

  <script id="header-skillchain-template" type="text/template">
    <% _.each([0, 1, 2, 3, 4, 5], function(i) { %>
    <div class="skill-slot <%= i %>"></div>
    <% }); %>
  </script>

  <script id="header-skill-template" type="text/template">
    <div class="veil"></div>
    <div class="img-holder">
      <img src="assets/<%= name %>.svg" />
    </div>
  </script>

  <script type="text/template" id="menu-tab-template">
    <td class="tab" id="<%- name %>"><%- name %></td>
  </script>

  <!-- Libs -->
  <script type="text/javascript" src="scripts/sugar.js"></script>

  <script type="text/javascript" src="scripts/libs/raf-shim.js"></script>
  <script type="text/javascript" src="scripts/libs/jquery.min.js"></script>
  <script type="text/javascript" src="scripts/libs/namespace-plus.js"></script>
  <script type="text/javascript" src="scripts/libs/sprintf.min.js"></script>
  <script type="text/javascript" src="scripts/libs/underscore.js"></script>
  <script type="text/javascript" src="scripts/libs/backbone.js"></script>
  <script type="text/javascript" src="scripts/backbone-mods.js"></script>
  <script type="text/javascript" src="scripts/libs/backbone.localStorage.js"></script>

  <!-- Our files -->
  <script type="text/javascript" src="scripts/log.js"></script>
  <script type="text/javascript" src="scripts/prob.js"></script>
  <script type="text/javascript" src="scripts/itemref.js"></script>
  <script type="text/javascript" src="scripts/events.js"></script>

  <script type="text/javascript" src="scripts/utils.js"></script>

  <script type="text/javascript" src="scripts/inventory.js"></script>
  <script type="text/javascript" src="scripts/entity.js"></script>
  <script type="text/javascript" src="scripts/zone.js"></script>
  <script type="text/javascript" src="scripts/vis.js"></script>
  <script type="text/javascript" src="scripts/views.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>

  <!-- Entry point -->
  <script>
    $(namespace.bot.main.onReady());
  </script>

</body>
