body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

.header {
    position: absolute;
    padding: 5px;

    background-color: #FEE;
    overflow: hidden;
}

.vis {
    position: absolute;
    padding: 5px;

    background-color: #EFE;
    overflow: hidden;
}

.menu {
    position: absolute;
    padding: 5px;

    background-color: #EEF;
    overflow: hidden;
}

.tab-holder {
    display: table;
    width: 400px;
    margin-left: -5px;
    margin-top: -5px;
    height: 65px;
    border-collapse: collapse;
}

.tab-holder td {
    border: 5px solid #EEF;
    text-align: center;
    vertical-align: middle;
    background-color: #DDF;
    width: 74px;
}

.menu-holder {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
/* within menu holder */
.sub-menu {

}

.invcontent { padding: 10px; }

.item-group-header {
    width: 100%;
    height: 20px;
    padding: 3px;
    text-align: center;
    margin: 1px;
    background-color: #CFC;
}
.item-header {
    width:100%;
    text-align: center;
    height:20px;
    padding: 1px;
    margin: 1px;
    /* focused  */
    background-color: #FFE;
    border-bottom: 1px solid white;
    margin-bottom: 0;
}

.item.collapsed .item-header {
    /* collapsed */
    background-color: #DDC;
    margin: 1px;
    border-bottom: none;
}

.item.collapsed .item-body {
    display: none;
}
.item-body {
    background-color:#FFD;
}

.item-mid {
    width:100%;
    height:110px;
    border-bottom: 1px solid white;
}

.item-img {
    width:90px;
    height:90px;
    padding: 10px;
    float: left;
}

.item-mid-text {
    width:60%;
    text-align:center;
    line-height: 150%;
    float: left;
    padding-top:20px;
    padding-bottom: 20px;
    font-family:sans-serif;
}

.item-affixes {
    text-align:center;
}

.item-buttonbox {
    width:100%;
}

.item-button {
    background-color:#FED;
    margin: 10px 50px 10px 70px;
    width:60px;
    height:30px;
    text-align:center;
}

.closed {
    display: none;
}

/* header vis */

.stats {
    font-size: 16px;
}

/* / header vis */
