body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

.header {
    position: absolute;
    padding: 5px;

    background-color: #FEE;
}

.vis {
    position: absolute;
    padding: 5px;

    background-color: #EFE;
}

.menu {
    position: absolute;
    padding: 5px;

    background-color: #EEF;
}

.tabholder {
    display: table;
    width: 400px;
    margin-left: -5px;
    margin-top: -5px;
    height: 65px;
    border-collapse: collapse;
}

.tabholder td {
    border: 5px solid #EEF;
    text-align: center;
    vertical-align: middle;
    background-color: #DDF;
    width: 74px;
}
