body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.char {
    position: absolute;
    padding: 5px;

    background-color: #FEE;
}

.vis {
    position: absolute;
    padding: 5px;

    background-color: #EFE;
}

.user {
    position: absolute;
    padding: 5px;

    background-color: #EEF;
}

.tabholder {
    height: 50px;
    background-color: #EFF;
}

.tab {
    background-color: #DFF;
    float:left;
    padding:15px;
    border: 1px solid white;
}

.contentholder {
    background-color: #DEE;
    height:100%;
}	   

.mapcontent {
    display:block;
    padding:30px;
}

.itemcontent {
    display:none;
    padding:30px;
}

.craftcontent {
    display:none;
    padding:30px;
}

.lvlupcontent {
    display:none;
    padding:30px;
}

.settingscontent {
    display:none;
    padding:30px;
}


canvas {
    width: 800px;
    height: 600px;
    float: left;

    /*margin: 5px;*/
    margin: 4px;
    border: 1px solid black;
}
