/* http://paletton.com/#uid=50F0x0klllllmrhmnfHqXpBqrjx */

@color-primary-0: #AA7739;	/* Main Primary color */
@color-primary-1: #D99848;
@color-primary-2: #7D5626;
@color-primary-3: #CC7F20;
@color-primary-4: #9C621B;

@color-secondary-1-0: #AA8E39;	/* Main Secondary color (1) */
@color-secondary-1-1: #D9B548;
@color-secondary-1-2: #7D6726;
@color-secondary-1-3: #CCA120;
@color-secondary-1-4: #9C7B1B;

@color-secondary-2-0: #AA4E39;	/* Main Secondary color (2) */
@color-secondary-2-1: #D96448;
@color-secondary-2-2: #7D3626;
@color-secondary-2-3: #CC4120;
@color-secondary-2-4: #9C341B;

@menu-text: rgba(170, 170, 160, 1);
@button-border: rgba(190, 190, 180, 0.3);
@button-bg: rgba(0, 0, 10, 0.2);
@flavor-text: rgba(170, 80, 23, 1);
@error-text: rgba(190, 10, 0, 1);
@skill-dmg: rgba(50, 255, 90, 1);

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    font-family: 'Source Code Pro', sans-serif;
    background-color: #333;

    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body .stats {
    /*background-color: @color-primary-0;*/
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    font-size: 12px;
    line-height: 130%;
    color: @menu-text;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    overflow: hidden;

    .holder {
        width: 425px;
        overflow: auto;

        table {
            margin-left:5px;
            margin-top:5px;
            width: 200px;
            float: left;
        }
    }
}

.itemTab {
    position: absolute;
    top: 0;
    width: 425px;

    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    /*background-color: @color-primary-0;*/
    overflow: auto;

    font-size: 11px;
    color: @menu-text;

    .container {
        width: 405px;
        overflow: hidden;

        .header {
            width: 385px;
            background-color: @button-bg;
            border: 2px solid @button-border;
            border-radius: 3px;
            margin: 5px 5px 2px 5px;
            padding: 3px;
            font-weight: bold;
            text-align: center;
        }

        .itemSlot {
            background-color: @button-bg;
            border: 2px solid @button-border;
            border-radius: 5px;
            overflow: hidden;
            margin: 2px 0 0 3px;
            width: 73px;
            height: 73px;
            float: left;
            /* cursor: pointer; */
            color: @menu-text;
            font-size: 14px;
            position: relative;

            img {
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
            }

            .corner {
                position: absolute;
                top: 3px;
                right: 3px;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                line-height: 20px;
                font-size: 16px;
                text-align: center;
            }
            .corner-level {
                z-index: 1;
                opacity: 0.7;
                background-color: #000;
            }
            .corner-x {
                display: none;
                z-index: 1000;
                opacity: 1;
                background-color: #A22;
            }

            .xpbar {
                position: absolute;
                bottom: 5px;
                left: 5px;
                height: 5px;
                background: linear-gradient(to bottom, #AAAA00, #FFFF00, #AAAA00);
                opacity: 0.7;
            }

            .filter {
                position: absolute;
                z-index: 100;
                opacity: 0.3;
                width: 100%;
                height: 100%;
            }
        }
        .itemSlot.hovering {
            .corner-x {
                display: block;
            }
            .corner-x:hover {
                color: #fff;
                background-color: #E11;
            }
        }
        .itemSlot.red .filter {
            background-color: red;
        }
        .itemSlot.yellow .filter {
            background-color: yellow;
        }

        .itemSlot.selected {
            border-color: rgba(244, 184, 38, 1);
        }
    }
}

.infoBox {
    position: absolute;
    width: 200px;

    top: 5px;
    right: 410px;
    
    font-size:12px;
    color: grey;
    background-color: rgba(0, 0, 0, 0.7);  /* @color-primary-0; */
    display: none;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;

    .disabled {
        color: @error-text;
    }

    .titlebox {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 3px;
        border-bottom: 1px solid grey;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: rgba(30, 30, 100, 0.8);
    }
    .infoitem {
        margin-top: 5px;
    }
    .mod {
        margin-top: 5px;
        color: #4850B8;
    }
    .mods {
        margin-bottom: 10px;
    }

    .flavor {
        color: @flavor-text;
        margin-bottom:10px;
    }

    .skilldmg {
        color: @skill-dmg;
        margin-bottom: 10px;
    }

    .xpbox {
        border: 1px solid @menu-text;
        height: 10px;
        width: 100px;
        margin-top: 5px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 3px;
    }

    .xpearned {
        height: 100%;
        background: -webkit-linear-gradient(top, #8d8300 0%, #8d8d54 50%, #8d8300 100%);
        /*background-color: yellow; /*linear-gradient(to bottom, #AAAA00, #FFFF00);*/
        width: 0px;
    }
}

.footer {
    position: absolute;
    left: 0;
    height: 150px;
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    /*background-color: @color-secondary-1-0;*/
    border-top: 3px solid rgba(0, 0, 10, 0.7);
    color: @menu-text;

    .hero {
        float: left;
        font-size: 16px;
        height: 140px;
        margin: 5px;
    }

    .skillchain {
        float: left;
        height: 140px;
        margin: 5px;

        .skill {
            float: left;
            margin-top: 25px;
            margin-left: 10px;
            width: 90px;
            height: 110px;
            border-radius: 5px;

            .box {
                position: relative;
                height: 90px;
                width: 90px;
                border-radius: 5px;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .cooldown {
                    background-color: @color-secondary-2-2;
                    opacity: 0.5;
                    position: absolute;
                    bottom: 0;
                    height: 0;
                    width: 100%;
                }
            }

            .use-holder {
                position: relative;
                height: 10px;
                width: 90px;
                overflow: hidden;
                margin-top: 5px;

                .use-bar {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    background-color: #333;
                }
            }
        }
    }

    .zone {
        float: left;
        height: 140px;
        margin: 5px;
        font-size: 16px;
    }

    .buttons {
        font-size: 16px;
        float: right;
        /* full size, margins handled in buttons */
        height: 150px;
        width: 150px;

        /*
          150 px size:
          5 px margin
          2 px border
          div
          2 px border
          5px margin
          2 px border
          div
          2px border
          5px margin
          */

        > div {
            background-color: @button-bg;
            border: 2px solid @button-border;
            border-radius: 5px;
            /*border-top: 2px solid #333;
            border-left: 2px solid #333;
            border-right: 2px solid #111;
            border-bottom: 2px solid #111;*/
            margin: 5px 0 0 5px;

            float: left;
            height: 63px;  /* 4 border + 6 margin + 65 height = 150 / 2 */
            width: 63px;
            font-size: 18px;
            line-height: 63px;
            text-align: center;
        }
    }
}

.map {
    /*background-color: @color-primary-0;*/
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    float: left;
    height: 100%;
    width: 380px;
    overflow: hidden;

    .holder {
        width: 405px;
        overflow: auto;

        .zone {
            width: 360px;
            height: 50px;
            margin: 10px;
            font-size: 14px;
            line-height: 25px;
            border-radius: 5px;

            img {
                margin-right: 5px;
                float: left;
                width: 50px;
                height: 50px;
            }
        }
    }
    .zone:hover {
        background-color: rgba(190,190,180,0.4);/*@color-primary-1;*/
    }
    .zone.running {
        background-color: rgba(190,190,180,0.2);/*@color-secondary-1-1;*/
    }
}

.vis {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;

    canvas {
        position: absolute;
        left: 0;
        top: 0;
    }

    .bg {
        z-index: -30;
    }

    .entity {
        z-index: -20;
    }

    .proj {
        z-index: -10;
    }
}

canvas.vis {
    border: 1px solid black;
}

.noselect {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}