body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.char {
    position: absolute;
    padding: 5px;

    background-color: #FEE;
}

.vis {
    position: absolute;
    padding: 5px;

    background-color: #EFE;
}

.user {
    position: absolute;
    padding: 5px;

    background-color: #EEF;
}

canvas {
    width: 800px;
    height: 600px;
    float: left;

    /*margin: 5px;*/
    margin: 4px;
    border: 1px solid black;
}
